{:source-paths ["src"]

 :dependencies [[rum "0.11.3" :exclusions [cljsjs/react cljsjs/react-dom]]
                [cider/cider-nrepl "0.18.0"]
                [org.roman01la/cljss "1.6.3"]]

 :builds {:app {:target :browser
                :output-dir "public/js"
                :asset-path "js"
                :modules {:main {:entries [starter.core]}}
                :devtools {:before-load starter.core/stop
                           :after-load starter.core/start
                           :http-root "public"
                           :http-port 8020}}}}
